<h1>¿Qué es IoT (el Internet de las Cosas)?</h1>
<p>
  Desde que Internet llego a nuestras vidas, este no ha parado de evolucionar de forma rápida y apabullante, desde aquellos módems de 56 KB hasta las rápidas líneas de fibra óptica actuales. A día de hoy podemos conectar a Internet nuestros móviles, impresoras, Smart TV, cámaras vía IP, GPS, etc. Pero, esta nueva era no ha hecho más que asomar la cabeza.
  
  Desde hace ya unos años se empezó a hablar del IoT, no siendo más que una apuesta de futuro, comenzando a ser en la actualidad una absoluta realidad.
  
  Cada vez es más frecuente encontrarse con nuevos dispositivos capaces de conectarse a Internet y permitir al usuario un control y manejo de forma remota desde cualquier parte del mundo.
</p>

<h1>¿Qué es exactamente el IoT, o “Internet de las Cosas”?</h1>
<p>
  Podríamos definir el Internet de las cosas como la consolidación a través de la red de redes de una “red” que alojase una gran multitud de objetos o dispositivos, es decir, poder tener conectada a esta todas las cosas de este mundo como podrían ser vehículos, electrodomésticos, dispositivos mecánicos, o simplemente objetos tales como calzado, muebles, maletas, dispositivos de medición, biosensores, o cualquier objeto que nos podamos imaginar.
</p>

<h1>El objetivo que pretende alcanzar esta tecnología es hacer más cómodas nuestras vidas así como proporcionar una mayor seguridad en diversos ámbitos.</h1>
<p>
  ¿Es posible realmente conectar todo a la red? Sí, no ahora mismo, pero sí en muy poco tiempo. El principal inconveniente que está retrasando este avance es la limitación de direccionamiento que ofrece el actual protocolo ipv4, donde no sería posible interconectar tal cantidad de dispositivos y objetos. Por este motivo es ya inminente la transición a ipv6, el nuevo protocolo de direccionamiento que permitirá la interconexión casi ilimitada de cualquier objeto y la evolución e implementación del Internet of Things.

</p>